<div class="entry-content" itemprop="mainContentOfPage">

    <div class="mfn-cart-step mfn-cart-step-1"><div class="section_wrapper clearfix"><div class="the_content_wrapper">
<ul class="mfn-checkout-steps">
    <li class="active"><span class="mfn-step-number">1</span> Carrinho</li>
    <li><span class="mfn-step-number">2</span> Finalização de compra</li>
    <li><span class="mfn-step-number">3</span> Pedido</li>
</ul>
</div></div>
    <div class="mfn-builder-content"></div><div class="section the_content has_content"><div class="section_wrapper"><div class="the_content_wrapper "><div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>
<form class="woocommerce-cart-form" action="http://localhost:10018/carrinho/" method="post">

<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
<thead>
<tr>
    <th class="product-thumbnail">&nbsp;</th>
    <th class="product-name">Produto</th>
    <th class="product-price">Preço</th>
    <th class="product-quantity">Quantidade</th>
    <th class="product-subtotal">Subtotal</th>
    <th class="product-remove">&nbsp;</th>
</tr>
</thead>
<tbody>

                    <tr class="woocommerce-cart-form__cart-item cart_item">

            <td class="product-thumbnail">
            <a href="http://localhost:10018/produto/clube-iela-bag/"><img fetchpriority="high" decoding="async" width="500" height="500" src="http://localhost:10018/wp-content/uploads/2023/08/WhatsApp-Image-2023-08-30-at-16.44.39-e1693484254923-500x500.jpeg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>						</td>

            <td class="product-name" data-title="Produto">
            <a href="http://localhost:10018/produto/clube-iela-bag/">Clube Iela Bag</a>						</td>

            <td class="product-price" data-title="Preço">
                <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;1,01</bdi></span> <span class="subscription-details"> por 1 mês</span>						</td>

            <td class="product-quantity" data-title="Quantidade">
            <div class="quantity">
<a href="#" class="quantity-change minus"><i class="icon-minus"></i></a>	<label class="screen-reader-text" for="quantity_657655569a8fd">Clube Iela Bag quantidade</label>
<input type="number" id="quantity_657655569a8fd" class="input-text qty text" name="cart[e820a45f1dfc7b95282d10b6087e11c0][qty]" value="4" aria-label="Product quantity" size="4" min="0" max="" step="1" placeholder="" inputmode="numeric" autocomplete="off">
<a href="#" class="quantity-change plus"><i class="icon-plus"></i></a></div>
            </td>

            <td class="product-subtotal" data-title="Total">
                <span class="subscription-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;4,04</bdi></span> <span class="subscription-details"> por 1 mês</span></span>						</td>

            <td class="product-remove">
                <a href="http://localhost:10018/carrinho/?remove_item=e820a45f1dfc7b95282d10b6087e11c0&amp;_wpnonce=0890a05977" class="remove mfn-close-icon" aria-label="Remove this item" data-product_id="935" data-product_sku=""><span class="icon">✕</span></a>						</td>

        </tr>
        

<tr>
    <td colspan="6" class="actions">

                                <div class="coupon">
                <label for="coupon_code">Cupom:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Código do cupom"> <button type="submit" class="button" name="apply_coupon" value="Aplicar cupom">Aplicar cupom</button>
                                        </div>
        
        <button type="submit" class="button" name="update_cart" value="Atualizar carrinho">Atualizar carrinho</button>

        
        <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="0890a05977"><input type="hidden" name="_wp_http_referer" value="/carrinho/">
    </td>
</tr>

        </tbody>
</table>
</form>


<div class="cart-collaterals">
<div class="cart_totals ">


<h4>Total no carrinho</h4>

<table cellspacing="0" class="shop_table shop_table_responsive">

<tbody><tr class="cart-subtotal">
<th>Subtotal</th>
<td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;4,04</bdi></span></td>
</tr>






<tr class="order-total">
<th>Total</th>
<td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;4,04</bdi></span></strong> </td>
</tr>


</tbody></table>

<div class="wc-proceed-to-checkout">

<a href="http://localhost:10018/finalizar-compra/" class="checkout-button button alt wc-forward">
Continuar para a finalização de compra</a>
</div>

<a href="http://localhost:10018/loja/" class="mfn-woo-cart-link">Continuar comprando</a>
</div>
</div>

</div>
</div></div></div>
    <div class="section section-page-footer">
        <div class="section_wrapper clearfix">

            <div class="column one page-pager">
                                        </div>

        </div>
    </div>

    </div>				
</div>