<nav class="woocommerce-MyAccount-navigation">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active nav-item" role="presentation">
				<button class="nav-link active" id="painel-tab" data-bs-toggle="tab" data-bs-target="#painel-tab-pane" type="button" role="tab" aria-controls="painel-tab-pane" aria-selected="true">Painel</button>
			</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account nav-item" role="presentation">
				<button class="nav-link" id="detalhes-tab" data-bs-toggle="tab" data-bs-target="#detalhes-tab-pane" type="button" role="tab" aria-controls="detalhes-tab-pane" aria-selected="false" >Detalhes da conta</button>
			</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders nav-item" role="presentation">
				<button class="nav-link" id="pedidos-tab" data-bs-toggle="tab" data-bs-target="#pedidos-tab-pane" type="button" role="tab" aria-controls="pedidos-tab-pane" aria-selected="false">Meus Pedidos</button>
			</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--subscriptions nav-item" role="presentation">
				<button class="nav-link" id="assinaturas-tab" data-bs-toggle="tab" data-bs-target="#assinaturas-tab-pane" type="button" role="tab" aria-controls="assinaturas-tab-pane" aria-selected="false">Assinaturas</button>
			</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address nav-item" role="presentation">
				<button class="nav-link" id="endereco-tab" data-bs-toggle="tab" data-bs-target="#endereco-tab-pane" type="button" role="tab" aria-controls="endereco-tab-pane" aria-selected="false">Endereço</button>
			</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout nav-item" role="presentation">
				<a class="nav-link" href="http://localhost:3001/minha-conta/customer-logout/?_wpnonce=0321b2c74a">Sair</a>
			</li>
			</ul>
</nav>