<div class="woocommerce-MyAccount-content tab-content active" id="tab1">
	<div class="woocommerce-notices-wrapper"></div>
	<%if(user){%>
<p>
	Olá, <strong><%=user.name%></strong> (não é <strong><%=user.name%></strong>? <a onclick="logout()">Sair</a>)</p>

<p>
	A partir do painel de controle de sua conta, você pode ver suas <span onclick="openTab(event, 'tab3')"><a href="#tab3">compras recentes</a></span>, gerenciar seus <span onclick="openTab(event, 'tab5')"><a href="#tab5">endereços de entrega e faturamento</a></span>, e <span onclick="openTab(event, 'tab2')">  <a href="#tab2">editar sua senha e detalhes da conta</a></span>.</p>
<%}%>
</div>