

<div class="woocommerce-MyAccount-content tab-content"  id="tab6">
	<div class="woocommerce-notices-wrapper"></div>

    <div class="container">

        <div class="timeline">
            <li class="timeline-item active" id="timeline-item1">Deixa eu te conhecer melhor</li>
            <li class="timeline-item" id="timeline-item2">Quiz - 1</li>
            <li class="timeline-item" id="timeline-item3" style="font-size: 14px;">Quiz - 2</li>
            <li class="timeline-item" id="timeline-item4" style="font-size: 14px;">Final - 3</li>
    
        </div>
    
        <div id="registrationForm" class="slider"  style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 48px;min-height: 1000px !important;">


      

    <div class="container slide active" id="step1">
        <h3 class="stepTitle">Quiz - 1</h3>
        <div class="form-wrapper">
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="birthday">Data de nascimento *</label>
                <input type="date" class="form-control" id="birthday" name="birthday">
                <small id="addressHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="user_city">Profissão *</label>
                <input type="text" class="form-control" id="profissao" name="profissao">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="estado_civil">Estado civil *</label>
                <input type="text" class="form-control" id="estado_civil" name="civil_state">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="rede_social">Rede Social *</label>
                <input type="text" class="form-control" id="rede_social" name="social_network">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="onde_conheceu">Onde conheceu a Iela Bag? *</label>
                <input type="text" class="form-control" id="onde_conheceu" name="onde_conheceu">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            
            <div class="action-wrapper">
                <button type="button" class="btn btn-primary" id="confirmar3" onclick="nextStep(1)">Avançar</button>
            </div>
        </div>
    </div>

    <div class="container slide next" id="step2">
        <h3 class="stepTitle">Quiz - 2</h3>
        <div class="form-wrapper">
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="ligacao">Gostaria de receber uma ligação para discutir suas preferências e necessidades de moda? *</label>
                <input type="text" class="form-control" id="ligacao" name="ligacao">
                <small id="addressHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="oqbusca">Você busca conforto ou estilo ao escolher suas roupas? *</label>
                <input type="text" class="form-control" id="oqbusca" name="oqbusca">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="favoinfluencers">Quais são suas celebridades ou influenciadores de moda favoritos? *</label>
                <input type="text" class="form-control" id="favoinfluencers" name="favoinfluencers">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="tamanho">Qual é o seu tamanho de roupa (P, M, G, etc.)? *</label>
                <input type="text" class="form-control" id="tamanho" name="tamanho">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="altura">Qual é a sua altura? *</label>
                <input type="text" class="form-control" id="altura" name="altura">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>

        
            
            <div class="action-wrapper">
                <button type="button" class="btn btn-secondary" onclick="previousStep(2)">Voltar</button>
                <button type="button" class="btn btn-primary" id="confirmar4" onclick="nextStep(2)">Avançar</button>
            </div>
        </div>
    </div>

    <div class="container slide next" id="step3">
        <h3 class="stepTitle">Quiz - 3</h3>
        <div class="form-wrapper">
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="peso">Qual é a seu peso? *</label>
                <input type="text" class="form-control" id="peso" name="peso">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
        
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="roupas_soltas">Prefere roupas mais justas ou mais soltas? *</label>
                <input type="text" class="form-control" id="roupas_soltas" name="roupas_soltas">
                <small id="addressHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="gosta_acessorios">Gosta de usar acessórios como joias, bolsas ou sapatos? *</label>
                <input type="text" class="form-control" id="gosta_acessorios" name="gosta_acessorios">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="interesse">Tem interesse em receber moda fitness, praia ou pijamas? *</label>
                <input type="text" class="form-control" id="interesse" name="interesse">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="manter_estilo">Está aberta a experimentar novos estilos ou prefere manter-se fiel ao que já conhece? *</label>
                <input type="text" class="form-control" id="manter_estilo" name="manter_estilo">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
        
            
            <div class="action-wrapper">
                <button type="button" class="btn btn-secondary" onclick="previousStep(3)">Voltar</button>
                <button type="button" class="btn btn-primary" id="confirmar5" onclick="nextStep(3)">Avançar</button>
            </div>
        </div>
    </div>

    <div class="container slide next" id="step4">
        <h3 class="stepTitle">Quiz - 4</h3>
        <div class="form-wrapper">


            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="comquemmora">Mora sozinha ou com outras pessoas? *</label>
                <input type="text" class="form-control" id="comquemmora" name="comquemmora">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="portaria">Sua residência possui algum sistema de portaria disponível para receber sua bag? *</label>
                <input type="text" class="form-control" id="portaria" name="portaria">
                <small id="addressHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="tempet">Possui algum animal de estimação? Se sim, qual é o nome dele(a)? *</label>
                <input type="text" class="form-control" id="tempet" name="tempet">
                <small id="cityHelp" class="error-feedback d-none"></small>
            </div>
            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="detalhe_especifico">Algum detalhe específico sobre você que ache importante saber? *</label>
                <input type="text" class="form-control" id="detalhe_especifico" name="detalhe_especifico">
                <small id="cityHelp" class="error-feedback d-none"></small>    
            </div>

            <div class="mb-3" id="" style="margin-bottom: 24px">
                <label for="detalhe_especifico">Envie fotos suas.: Nenhum arquivo escolhido (OPCIONAL)</label>
                <input type="file" id="fileInput" name="fotos" multiple onchange="handleFileSelectGloball(this)">
                <small id="cityHelp" class="error-feedback d-none"></small>    
                <div id="imagePreviewContainer">         </div>            
            </div>
            
            
            <div class="action-wrapper">
                <button type="button" class="btn btn-secondary" onclick="previousStep(4)">Voltar</button>
                <button type="button" class="btn btn-primary" id="confirmar6" onclick="pushDatad()">Concluir</button>
            </div>
        </div>
    </div>  

     <form action="/iela/quiz" method="post">
             

               <input type="date" class="form-control d-none" id="birthday1" name="birthday">
                <input type="text" class="form-control d-none" id="profissao1" name="profissao">
                <input type="text" class="form-control d-none" id="estado_civil1" name="civil_state">
                <input type="text" class="form-control d-none" id="rede_social1" name="social_network">
                <input type="text" class="form-control d-none" id="onde_conheceu1" name="onde_conheceu">
                <input type="text" class="form-control d-none" id="ligacao1" name="ligacao">
                <input type="text" class="form-control d-none" id="oqbusca1" name="oqbusca">
                <input type="text" class="form-control d-none" id="favoinfluencers1" name="favoinfluencers">
                <input type="text" class="form-control d-none" id="tamanho1" name="tamanho">
                <input type="text" class="form-control d-none" id="altura1" name="altura">
                <input type="text" class="form-control d-none" id="peso1" name="peso">
                <input type="text" class="form-control d-none" id="roupas_soltas1" name="roupas_soltas">
                <input type="text" class="form-control d-none" id="gosta_acessorios1" name="gosta_acessorios">
                <input type="text" class="form-control d-none" id="interesse1" name="interesse">
                <input type="text" class="form-control d-none" id="manter_estilo1" name="manter_estilo">
                <input type="text" class="form-control d-none" id="comquemmora1" name="comquemmora">
                <input type="text" class="form-control d-none" id="portaria1" name="portaria">
                <input type="text" class="form-control d-none" id="tempet1" name="tempet">
                <input type="text" class="form-control d-none" id="detalhe_especifico1" name="detalhe_especifico">
                <input type="text" class="form-control d-none" id="emaill" value="<%=user.email%>" name="email">


             
                <input type="text" class="d-none" name="fotos[]" id="arf">

                <button type="submit" class="btn btn-primary d-none" id="job">Concluir</button>

          


            </form>


    </div>
</div>

<script>

const birthday1 = document.getElementById('birthday1')
const birthday = document.getElementById('birthday')
const profissao1 = document.getElementById('profissao1')
const profissao = document.getElementById('profissao')
const civil_state = document.getElementById('estado_civil1')
const civil_state1 = document.getElementById('estado_civil')
const rede_social1 = document.getElementById('rede_social1')
const rede_social = document.getElementById('rede_social')
const onde_conheceu1 = document.getElementById('onde_conheceu1')
const onde_conheceu = document.getElementById('onde_conheceu')
const ligacao1 = document.getElementById('ligacao1')
const ligacao = document.getElementById('ligacao')
const oqbusca1 = document.getElementById('oqbusca1')
const oqbusca = document.getElementById('oqbusca')
const favoinfluencers1 = document.getElementById('favoinfluencers1')
const favoinfluencers = document.getElementById('favoinfluencers')
const tamanho1 = document.getElementById('tamanho1')
const tamanho = document.getElementById('tamanho')
const altura1 = document.getElementById('altura1')
const altura = document.getElementById('altura')
const peso1 = document.getElementById('peso1')
const peso = document.getElementById('peso')
const roupas_soltas = document.getElementById('roupas_soltas')
const roupas_soltas1 = document.getElementById('roupas_soltas1')
const gosta_acessorios = document.getElementById('gosta_acessorios')
const gosta_acessorios1 = document.getElementById('gosta_acessorios1')
const interesse1 = document.getElementById('interesse1')
const interesse = document.getElementById('interesse')
const manter_estilo1 = document.getElementById('manter_estilo1')
const manter_estilo = document.getElementById('manter_estilo')
const comquemmora1 = document.getElementById('comquemmora1')
const comquemmora = document.getElementById('comquemmora')
const portaria1 = document.getElementById('portaria1')
const portaria = document.getElementById('portaria')
const tempet1 = document.getElementById('tempet1')
const tempet = document.getElementById('tempet')
const detalhe_especifico1 = document.getElementById('detalhe_especifico1')
const detalhe_especifico = document.getElementById('detalhe_especifico')
const confirmar6 = document.getElementById('confirmar6')
const job = document.getElementById('job')

function pushDatad(){
    birthday1.value = birthday.value
    profissao1.value = profissao.value
    civil_state1.value = civil_state.value
    rede_social1.value = rede_social.value
    onde_conheceu1.value = onde_conheceu.value
    ligacao1.value = ligacao.value
    oqbusca1.value = oqbusca.value
    favoinfluencers1.value = favoinfluencers.value
    tamanho1.value = tamanho.value
    altura1.value = altura.value
    peso1.value = peso.value
    roupas_soltas1.value = roupas_soltas.value
    gosta_acessorios1.value = gosta_acessorios.value
    interesse1.value = interesse.value
    manter_estilo1.value = manter_estilo.value
    comquemmora1.value = comquemmora.value
    portaria1.value = portaria.value
    tempet1.value = tempet.value
    detalhe_especifico1.value = detalhe_especifico.value

    confirmar6.click()
    job.click()
}
</script>
</div>