<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->

<footer id="Footer" class="clearfix ">

		
    <div class="widgets_wrapper "><div class="container"><div class="column one-third"><aside id="block-6" class="widget widget_block widget_media_image"><div class="wp-block-image">
<figure class="aligncenter size-full"><img loading="lazy" decoding="async" width="298" height="181" src="images/logotipo-footer.png" alt="" class="wp-image-617" srcset="images/logotipo-footer.png 298w, images/logotipo-footer-240x146.png 240w, images/logotipo-footer-50x30.png 50w, images/logotipo-footer-123x75.png 123w, images/logotipo-footer-99x60.png 99w, images/logotipo-footer-148x90.png 148w" sizes="(max-width: 298px) 100vw, 298px" /></figure></div></aside></div><div class="column one-third"><aside id="block-3" class="widget widget_block"><H4>Institucional</H4>

<a href="/quem-somos">Sobre Nós</a>
<a href="/home#como-funciona">Como Funciona</a>
<a href="/perguntas-frequentes">Perguntas Frequentes</a>
<a href="/termos-e-condicoes">Termos de Uso</a>
<a href="/politica-de-privacidade">Política de Privacidade</a></aside></div><div class="column one-third"><aside id="block-5" class="widget widget_block"><H4>Contato</H4>

<a href="mail:"> <i class="icon-mail"></i>contato@ielabag.com.br</a>
<a href="https://wa.me/5511994920339"> <i class="icon-whatsapp"></i> +55 11 9 9492-0339</a>

<ul class="social">

<li><a id="" href="https://www.facebook.com/profile.php?id=100094096140644&mibextid=LQQJ4d" target="_blank"><i class="icon-facebook"></i></a></li>

<li><a id="" href="https://www.instagram.com/ielabag/" target="_blank"><i class="icon-instagram"></i></a></li>

<li><a id="" href="https://www.youtube.com/@IELABAG" target="_blank"><i class="icon-youtube"></i></a></li>

</ul></aside></div></div></div>
    
        <div class="footer_copy">
            <div class="container">
                <div class="column one">

                    
                    <div class="copyright">
                        <p>© Copyright 2023 | <b>Iela Bag</b> | Todos os direitos reservados.</p>

<p class="copy-di"><a href="https://trivelapublicidade.com.br/agencia-de-sites-profissionais/" target="_blank">Site desenvolvido por <img src="images/logo-trivela-footer.png"></a></p>						</div>

                    <ul class="social"></ul>
                </div>
            </div>
        </div>

    
    
</footer>