<div class="woocommerce-MyAccount-content tab-content" id="tab3">
	<div class="woocommerce-notices-wrapper"></div>

	<table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
		<thead>
			<tr>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Pedido</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span class="nobr">Data</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">Status</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"><span class="nobr">Total</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr">Ações</span></th>
							</tr>
		</thead>

		<tbody>
							<tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled order">
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Pedido">
															<a href="http://localhost:10018/minha-conta/view-order/1036/">
									#1036								</a>

													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Data">
															<time datetime="2023-11-29T10:57:44+00:00">29 de novembro de 2023</time>

													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
															Cancelado
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
															<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;2,02</span> de 2 itens
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
															<a href="http://localhost:10018/minha-conta/view-order/1036/" class="woocommerce-button button view">Visualizar</a>													</td>
									</tr>
								<tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled order">
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Pedido">
															<a href="http://localhost:10018/minha-conta/view-order/1034/">
									#1034								</a>

													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Data">
															<time datetime="2023-11-29T10:57:07+00:00">29 de novembro de 2023</time>

													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
															Cancelado
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
															<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R$</span>&nbsp;2,02</span> de 2 itens
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
															<a href="http://localhost:10018/minha-conta/view-order/1034/" class="woocommerce-button button view">Visualizar</a>													</td>
									</tr>
						</tbody>
	</table>

	
	

</div>