<div class="section mcb-section mcb-section-ojyyqqm9u bg-cover" id="contato" style="padding-top:80px;background-image:url(images/img-contato-7as-des.jpg);background-repeat:no-repeat;background-position:left top" ><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap mcb-wrap-ij03uav3w one-second  valign-top clearfix" data-col="one-second" style="padding:0 80px"  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-jndw0itdi one column_column"><div class="column_attr clearfix align_center mobile_align_center" style=""><h4>ENTRE EM</h4>
    <h2>CONTATO</h2>
    
    <hr class="no_line" style="margin: 0 auto 15px auto"/>
    
    <form action="/sendEmail" method="POST" class="" aria-label="Formulários de contato" >
   
    <p>
        <span class="wpcf7-form-control-wrap" ><input size="40" class="wpcf7-form-control wpcf7-text"  placeholder="Nome" type="text" name="nome" /></span><br />
        <span class="wpcf7-form-control-wrap" ><input size="40" class="wpcf7-form-control wpcf7-text"  placeholder="Assunto" type="text" name="assunto" /></span>

    <span class="wpcf7-form-control-wrap" ><input size="40" class="wpcf7-form-control wpcf7-email" style="width: 100%;margin-bottom: 1px;" placeholder="E-mail"  type="email" name="email" /></span><br />
    <span class="wpcf7-form-control-wrap" ><input size="40" class="wpcf7-form-control wpcf7-text"  placeholder="Telefone" type="text" name="telefone" /></span><br />
    <span class="wpcf7-form-control-wrap" ><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"  placeholder="Mensagem" name="message"></textarea></span>
    </p>
    <p><button style=" width: 100%;justify-content: center;align-items: center;align-content: center;display: flex;font-weight: 900;" type="submit">Enviar</buton></p>
    </p>
    </form>
    
    </div></div></div></div><div class="wrap mcb-wrap mcb-wrap-y473b1m8c one-second  valign-top clearfix" data-col="one-second" style=""  ><div class="mcb-wrap-inner"><div class="mfn-drag-helper placeholder-wrap"></div></div></div></div>
    </div>