<div class="section mcb-section mcb-section-ojyyqqm9u bg-cover" id="contato" style="padding-top:80px;background-image:url(images/img-contato-7as-des.jpg);background-repeat:no-repeat;background-position:left top" ><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap mcb-wrap-ij03uav3w one-second  valign-top clearfix" data-col="one-second" style="padding:0 80px"  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-jndw0itdi one column_column"><div class="column_attr clearfix align_center mobile_align_center" style=""><h4>ENTRE EM</h4>
    <h2>CONTATO</h2>
    
    <hr class="no_line" style="margin: 0 auto 15px auto"/>
    
    <div class="wpcf7 no-js" id="wpcf7-f5-p297-o1" lang="pt-BR" dir="ltr">
    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    <form action="/sendEmail" method="post" class="wpcf7-form init" aria-label="Formulários de contato" novalidate="novalidate" data-status="init">
   
    <p>
        <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nome" value="" type="text" name="nome" /></span><br />
        <span style="display: none;" class="wpcf7-form-control-wrap" data-name="assunto"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Assunto" value="Mensagem enviada da IelaBag página Home" type="text" name="assunto" /></span>

    <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail" value="" type="email" name="email" /></span><br />
    <span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Telefone" value="" type="text" name="telefone" /></span><br />
    <span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mensagem" name="message"></textarea></span>
    </p>
    <p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="ENVIAR" />
    </p><div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
    </div>
    </div></div></div></div><div class="wrap mcb-wrap mcb-wrap-y473b1m8c one-second  valign-top clearfix" data-col="one-second" style=""  ><div class="mcb-wrap-inner"><div class="mfn-drag-helper placeholder-wrap"></div></div></div></div>
    </div>