<div class="woocommerce-MyAccount-content tab-content" id="tab5" >
	<div class="woocommerce-notices-wrapper"></div>
	
<p>
	Os endereços a seguir serão usados na página de finalização de compra por padrão.</p>

	<div class="u-columns woocommerce-Addresses col2-set addresses">

	
	<div class="u-column1 col-1 woocommerce-Address">
		<header class="woocommerce-Address-title title">
			<h3>Endereço de faturamento</h3>
			<a href="http://localhost:10018/minha-conta/edit-address/faturamento/" class="edit">Editar</a>
		</header>
		<address>
			Rafael de oliveira<br>Avenida do Estado, 28<br>Centro<br>São Paulo<br>São Paulo<br>01025-020		</address>
	</div>

	
	<div class="u-column2 col-2 woocommerce-Address">
		<header class="woocommerce-Address-title title">
			<h3>Endereço de entrega</h3>
			<a href="http://localhost:10018/minha-conta/edit-address/entrega/" class="edit">Editar</a>
		</header>
		<address>
			Rafael de oliveira<br>Avenida do Estado, 28<br>Centro<br>São Paulo<br>São Paulo<br>01025-020		</address>
	</div>


	</div>
	
</div>