</div></div></div></div></div></div></div><div class="section mcb-section mcb-section-1203be5c6 bg-cover" id="contato" style="padding-top:80px;background-image:url(images/img-contato-7as-des.jpg);background-repeat:no-repeat;background-position:left top" ><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap mcb-wrap-f3c619580 one-second  valign-top clearfix" data-col="one-second" style="padding:0 80px"  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-5f6801b68 one column_column"><div class="column_attr clearfix align_center mobile_align_center" style=""><h4>ENTRE EM</h4>
    <h2>CONTATO</h2>
    
    <hr class="no_line" style="margin: 0 auto 15px auto"/>
    
    
    
    <div class="wpcf7 no-js" id="wpcf7-f5-p293-o1" lang="pt-BR" dir="ltr">
    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
    <form action="/minha-conta/#wpcf7-f5-p293-o1" method="post" class="wpcf7-form init" aria-label="Formulários de contato" novalidate="novalidate" data-status="init">
    <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="5" />
    <input type="hidden" name="_wpcf7_version" value="5.8.2" />
    <input type="hidden" name="_wpcf7_locale" value="pt_BR" />
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p293-o1" />
    <input type="hidden" name="_wpcf7_container_post" value="293" />
    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
    </div>
    <p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nome" value="" type="text" name="your-name" /></span><br />
    <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail" value="" type="email" name="your-email" /></span><br />
    <span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Telefone" value="" type="text" name="your-phone" /></span><br />
    <span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mensagem" name="your-message"></textarea></span>
    </p>
    <p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="ENVIAR" />
    </p><div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
    </div>
    </div></div></div></div><div class="wrap mcb-wrap mcb-wrap-0602b4f53 one-second  valign-top clearfix" data-col="one-second" style=""  ><div class="mcb-wrap-inner"><div class="mfn-drag-helper placeholder-wrap"></div></div></div></div></div></div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper "></div></div></div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
    
                            <div class="column one page-pager">
                                                        </div>
    
                        </div>
                    </div>
    
                                    
                </div>
    
                
            </div>
    
            
        </div>
    </div>
    
    
    <!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
    
        <footer id="Footer" class="clearfix ">
    
            
            <div class="widgets_wrapper "><div class="container"><div class="column one-third"><aside id="block-6" class="widget widget_block widget_media_image"><div class="wp-block-image">
    <figure class="aligncenter size-full"><img loading="lazy" decoding="async" width="298" height="181" src="images/logotipo-footer.png" alt="" class="wp-image-617" srcset="images/logotipo-footer.png 298w, images/logotipo-footer-240x146.png 240w, images/logotipo-footer-50x30.png 50w, images/logotipo-footer-123x75.png 123w, images/logotipo-footer-99x60.png 99w, images/logotipo-footer-148x90.png 148w" sizes="(max-width: 298px) 100vw, 298px" /></figure></div></aside></div><div class="column one-third"><aside id="block-3" class="widget widget_block"><H4>Institucional</H4>
    
    <a href="/quem-somos">Sobre Nós</a>
    <a href="/#como-funciona">Como Funciona</a>
    <a href="/perguntas-frequentes">Perguntas Frequentes</a>
    <a href="/termos-e-condicoes">Termos de Uso</a>
    <a href="/politica-de-privacidade">Política de Privacidade</a></aside></div><div class="column one-third"><aside id="block-5" class="widget widget_block"><H4>Contato</H4>
    
    <a href="mail:"> <i class="icon-mail"></i> cliente@localhost</a>
    <a href="https://wa.me/5511994920339"> <i class="icon-whatsapp"></i> +55 11 9 9492-0339</a>
    
    <ul class="social">
    
    <li><a id="" href="https://www.facebook.com/profile.php?id=100094096140644&mibextid=LQQJ4d" target="_blank"><i class="icon-facebook"></i></a></li>
    
    <li><a id="" href="https://www.instagram.com/ielabag/" target="_blank"><i class="icon-instagram"></i></a></li>
    
    <li><a id="" href="https://www.youtube.com/@IELABAG" target="_blank"><i class="icon-youtube"></i></a></li>
    
    </ul></aside></div></div></div>
            
                <div class="footer_copy">
                    <div class="container">
                        <div class="column one">
    
                            
                            <div class="copyright">
                                <p>© Copyright 2023 | <b>Iela Bag</b> | Todos os direitos reservados.</p>
    
    <p class="copy-di"><a href="https://trivelapublicidade.com.br/agencia-de-sites-profissionais/" target="_blank">Site desenvolvido por <img src="images/logo-trivela-footer.png"></a></p>						</div>
    
                            <ul class="social"></ul>
                        </div>
                    </div>
                </div>
    
            
            
        </footer>
    
    </div>
    
    <div id="body_overlay"></div>
    
    <div id="Side_slide" class="right dark" data-width="250"><div class="close-wrapper"><a href="#" class="close"><i class="icon-cancel-fine"></i></a></div><div class="extras"><a href="/cadastro" class="action_button" >QUERO MINHA BAG</a><div class="extras-wrapper"><a id="myaccount_button" class="top-bar-right-icon top-bar-right-icon-user toggle-login-modal logged-in" href="/minha-conta"><img alt='' src='http://1.gravatar.com/avatar/180f93b6d576af74898cedc6b48463d8?s=32&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/180f93b6d576af74898cedc6b48463d8?s=64&#038;d=mm&#038;r=g 2x' class='avatar avatar-32 photo' height='32' width='32' loading='lazy' decoding='async'/></a></div></div><div class="lang-wrapper"></div><div class="menu_wrapper"></div><ul class="social"></ul></div><div class="mfn-header-login is-side woocommerce mfn-header-modal-nav"><span class="mfn-close-icon toggle-login-modal close-login-modal"><span class="icon">&#10005;</span></span><h4>Olá, rafa145.</h4>
    <nav class="woocommerce-MyAccount-navigation">
        <ul>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active tab-btn" onclick="openTab(event, 'tab1')">
        <a  href="#tab1">Painel</a>
    </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account tab-btn" onclick="openTab(event, 'tab2')">
        <a  href="#tab2">Detalhes da conta</a>
    </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders tab-btn" onclick="openTab(event, 'tab3')">
        <a  href="#tab3">Meus Pedidos</a>
    </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--subscriptions tab-btn" onclick="openTab(event, 'tab4')">
        <a  href="#tab4">Assinaturas</a>
    </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address tab-btn" onclick="openTab(event, 'tab5')">
        <a  href="#tab5">Endereço</a>
    </li>
            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout tab-btn">
        <a href="http://localhost:10018/minha-conta/customer-logout/?_wpnonce=0321b2c74a">Sair</a>
    </li>
    </ul>
    </nav>
    
    </div>
    
    
    
    <!-- mfn_hook_bottom --><!-- mfn_hook_bottom -->
    
            <script type="text/javascript">
                window.RS_MODULES = window.RS_MODULES || {};
                window.RS_MODULES.modules = window.RS_MODULES.modules || {};
                window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
                window.RS_MODULES.defered = true;
                window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
                window.RS_MODULES.type = 'compiled';
            </script>
            <!--googleoff: all--><div id="cookie-law-info-bar" data-nosnippet="true"><span><div class="cli-bar-container cli-style-v2"><div class="cli-bar-message">Este site informa: Usamos cookies para personalizar anúncios e melhorar a sua experiência no site. Ao continuar navegando, você concorda com a nossa <a href="/politica-de-privacidade"> política de privacidade</a></div><div class="cli-bar-btn_container"><a role='button' class="medium cli-plugin-button cli-plugin-main-button cli_settings_button" style="margin:0px 5px 0px 0px">Configuração de Cookies</a><a id="wt-cli-accept-all-btn" role='button' data-cli_action="accept_all" class="wt-cli-element medium cli-plugin-button wt-cli-accept-all-btn cookie_action_close_header cli_action_button">Aceitar todos</a></div></div></span></div><div id="cookie-law-info-again" data-nosnippet="true"><span id="cookie_hdr_showagain">Manage consent</span></div><div class="cli-modal" data-nosnippet="true" id="cliSettingsPopup" tabindex="-1" role="dialog" aria-labelledby="cliSettingsPopup" aria-hidden="true">
      <div class="cli-modal-dialog" role="document">
        <div class="cli-modal-content cli-bar-popup">
              <button type="button" class="cli-modal-close" id="cliModalClose">
                <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path><path d="M0 0h24v24h-24z" fill="none"></path></svg>
                <span class="wt-cli-sr-only">Fechar</span>
              </button>
              <div class="cli-modal-body">
                <div class="cli-container-fluid cli-tab-container">
        <div class="cli-row">
            <div class="cli-col-12 cli-align-items-stretch cli-px-0">
                <div class="cli-privacy-overview">
                    <h4>Privacy Overview</h4>				<div class="cli-privacy-content">
                        <div class="cli-privacy-content-text">This website uses cookies to improve your experience while you navigate through the website. Out of these, the cookies that are categorized as necessary are stored on your browser as they are essential for the working of basic functionalities of the website. We also use third-party cookies that help us analyze and understand how you use this website. These cookies will be stored in your browser only with your consent. You also have the option to opt-out of these cookies. But opting out of some of these cookies may affect your browsing experience.</div>
                    </div>
                    <a class="cli-privacy-readmore" aria-label="Mostrar mais" role="button" data-readmore-text="Mostrar mais" data-readless-text="Mostrar menos"></a>			</div>
            </div>
            <div class="cli-col-12 cli-align-items-stretch cli-px-0 cli-tab-section-container">
                                                    <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="necessary" data-toggle="cli-toggle-tab">
                                    Necessários							</a>
                                                                <div class="wt-cli-necessary-checkbox">
                                        <input type="checkbox" class="cli-user-preference-checkbox"  id="wt-cli-checkbox-necessary" data-id="checkbox-necessary" checked="checked"  />
                                        <label class="form-check-label" for="wt-cli-checkbox-necessary">Necessários</label>
                                    </div>
                                    <span class="cli-necessary-caption">Sempre ativado</span>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="necessary">
                                    <div class="wt-cli-cookie-description">
                                        Os cookies necessários são absolutamente essenciais para o funcionamento adequado do site. Esses cookies garantem funcionalidades básicas e recursos de segurança do site, de forma anônima.
    <table class="cookielawinfo-row-cat-table cookielawinfo-winter"><thead><tr><th class="cookielawinfo-column-1">Cookie</th><th class="cookielawinfo-column-3">Duração</th><th class="cookielawinfo-column-4">Descrição</th></tr></thead><tbody><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">cookielawinfo-checkbox-analytics</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Analytics".</td></tr><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">cookielawinfo-checkbox-functional</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category "Functional".</td></tr><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">cookielawinfo-checkbox-necessary</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category "Necessary".</td></tr><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">cookielawinfo-checkbox-others</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Other.</td></tr><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">cookielawinfo-checkbox-performance</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Performance".</td></tr><tr class="cookielawinfo-row"><td class="cookielawinfo-column-1">viewed_cookie_policy</td><td class="cookielawinfo-column-3">11 months</td><td class="cookielawinfo-column-4">The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.</td></tr></tbody></table>								</div>
                                </div>
                            </div>
                        </div>
                                                                        <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="functional" data-toggle="cli-toggle-tab">
                                    Funcionais							</a>
                                                                <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-functional" class="cli-user-preference-checkbox"  data-id="checkbox-functional" />
                                        <label for="wt-cli-checkbox-functional" class="cli-slider" data-cli-enable="Ativado" data-cli-disable="Desativado"><span class="wt-cli-sr-only">Funcionais</span></label>
                                    </div>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="functional">
                                    <div class="wt-cli-cookie-description">
                                        Os cookies funcionais ajudam a realizar certas funcionalidades, como compartilhar o conteúdo do site em plataformas de mídia social, coletar feedbacks e outros recursos de terceiros.
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="performance" data-toggle="cli-toggle-tab">
                                    Performance							</a>
                                                                <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-performance" class="cli-user-preference-checkbox"  data-id="checkbox-performance" />
                                        <label for="wt-cli-checkbox-performance" class="cli-slider" data-cli-enable="Ativado" data-cli-disable="Desativado"><span class="wt-cli-sr-only">Performance</span></label>
                                    </div>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="performance">
                                    <div class="wt-cli-cookie-description">
                                        Os cookies de desempenho são usados para compreender e analisar os principais índices de desempenho do site, o que ajuda a fornecer uma melhor experiência do usuário para os visitantes.
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="analytics" data-toggle="cli-toggle-tab">
                                    Analytics							</a>
                                                                <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-analytics" class="cli-user-preference-checkbox"  data-id="checkbox-analytics" />
                                        <label for="wt-cli-checkbox-analytics" class="cli-slider" data-cli-enable="Ativado" data-cli-disable="Desativado"><span class="wt-cli-sr-only">Analytics</span></label>
                                    </div>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="analytics">
                                    <div class="wt-cli-cookie-description">
                                        Cookies analíticos são usados para entender como os visitantes interagem com o site. Esses cookies ajudam a fornecer informações sobre as métricas do número de visitantes, taxa de rejeição, origem do tráfego, etc.
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="advertisement" data-toggle="cli-toggle-tab">
                                    Publicidade							</a>
                                                                <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-advertisement" class="cli-user-preference-checkbox"  data-id="checkbox-advertisement" />
                                        <label for="wt-cli-checkbox-advertisement" class="cli-slider" data-cli-enable="Ativado" data-cli-disable="Desativado"><span class="wt-cli-sr-only">Publicidade</span></label>
                                    </div>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="advertisement">
                                    <div class="wt-cli-cookie-description">
                                        Os cookies de publicidade são usados para fornecer aos visitantes anúncios e campanhas de marketing relevantes. Esses cookies rastreiam visitantes em sites e coletam informações para fornecer anúncios personalizados.
                                    </div>
                                </div>
                            </div>
                        </div>
                                                                        <div class="cli-tab-section">
                            <div class="cli-tab-header">
                                <a role="button" tabindex="0" class="cli-nav-link cli-settings-mobile" data-target="others" data-toggle="cli-toggle-tab">
                                    Outros							</a>
                                                                <div class="cli-switch">
                                        <input type="checkbox" id="wt-cli-checkbox-others" class="cli-user-preference-checkbox"  data-id="checkbox-others" />
                                        <label for="wt-cli-checkbox-others" class="cli-slider" data-cli-enable="Ativado" data-cli-disable="Desativado"><span class="wt-cli-sr-only">Outros</span></label>
                                    </div>
                                                        </div>
                            <div class="cli-tab-content">
                                <div class="cli-tab-pane cli-fade" data-id="others">
                                    <div class="wt-cli-cookie-description">
                                        Outros cookies não categorizados são aqueles que estão sendo analisados e ainda não foram classificados em uma categoria.
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
        </div>
    </div>
              </div>
              <div class="cli-modal-footer">
                <div class="wt-cli-element cli-container-fluid cli-tab-container">
                    <div class="cli-row">
                        <div class="cli-col-12 cli-align-items-stretch cli-px-0">
                            <div class="cli-tab-footer wt-cli-privacy-overview-actions">
                            
                                                                <a id="wt-cli-privacy-save-btn" role="button" tabindex="0" data-cli-action="accept" class="wt-cli-privacy-btn cli_setting_save_button wt-cli-privacy-accept-btn cli-btn">SALVAR E ACEITAR</a>
                                                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
    <div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
    <!--googleon: all--><!-- Instagram Feed JS -->
    
        <script type="text/javascript">
        function link_soft_scroll()
        {
            jQuery('a[href^="#"]').on('click', function(e) {
                if(jQuery(this).hasClass('close')) return;
                e.preventDefault();
                var id = jQuery(this).attr('href'),
                        targetOffset = jQuery(id).offset().top;
                        
                jQuery('html, body').animate({ 
                    scrollTop: targetOffset - 270
                }, 1000);
            });
        }
        link_soft_scroll();
        </script>
        <div id="qlwapp" class="qlwapp qlwapp-free qlwapp-bubble qlwapp-bottom-right qlwapp-all qlwapp-rounded">
        <div class="qlwapp-container">
            
            <a class="qlwapp-toggle" data-action="open" data-phone="5511994920339" data-message="" role="button" tabindex="0" target="_blank">
                                <i class="qlwapp-icon qlwapp-whatsapp-icon"></i>
                            <i class="qlwapp-close" data-action="close">&times;</i>
                        </a>
        </div>
    </div>
        <script type="text/javascript">
            (function () {
                var c = document.body.className;
                c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
                document.body.className = c;
            })();
        </script>
        <link rel='stylesheet' id='cookie-law-info-table-css' href='css/cookie-law-info-table.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='css/rs6.css' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
    #rs-demo-id {}
    </style>
    <script type="text/javascript" src="js/contactformsw.js" id="swv-js"></script>
    <script type="text/javascript" id="contact-form-7-js-extra">
    /* <![CDATA[ */
    var wpcf7 = {"api":{"root":"http:\/\/localhost:10018\/wp-json\/","namespace":"contact-form-7\/v1"}};
    /* ]]> */
    </script>
    <script type="text/javascript" src="js/incontactfomrdex.js" id="contact-form-7-js"></script>
    <script type="text/javascript" src="js/jquery.mask.min.js" id="mask-js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" id="boostrap-js"></script>
    <script type="text/javascript" src="js/rbtools.min.js" defer async id="tp-tools-js"></script>
    <script type="text/javascript" src="js/rs6.min.js" defer async id="revmin-js"></script>
    <script type="text/javascript" src="js/selectWoo.full.min.js" id="selectWoo-js"></script>
    <script type="text/javascript" src="js/jquery.blockUI.min.js" id="jquery-blockui-js"></script>
    <script type="text/javascript" src="js/js.cookie.min.js" id="js-cookie-js"></script>
    <script type="text/javascript" id="woocommerce-js-extra">
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="js/woocommerce.min.js" id="woocommerce-js"></script>
    <script type="text/javascript" src="js/woocommerce_1.min.js" id="woocommerce-js"></script>
    
    <script type="text/javascript" src="js/imask.min.js" id="imask-js"></script>
    <script type="text/javascript" src="js/frontend.js" id="vindi_woocommerce_frontend_js-js"></script>
    <script type="text/javascript" src="js/masks.js" id="vindi_woocommerce_masks_js-js"></script>
    <script type="text/javascript" src="js/brands.js" id="vindi_woocommerce_brands_js-js"></script>
    <script type="text/javascript" src="js/core.min.js" id="jquery-ui-core-js"></script>
    <script type="text/javascript" src="js/tabs.min.js" id="jquery-ui-tabs-js"></script>
    <script type="text/javascript" id="mfn-plugins-js-extra">
    /* <![CDATA[ */
    var mfn = {"mobileInit":"1240","parallax":"stellar","responsive":"1","sidebarSticky":"","lightbox":{"disable":false,"disableMobile":false,"title":false},"slider":{"blog":0,"clients":0,"offer":0,"portfolio":0,"shop":0,"slider":0,"testimonials":0},"livesearch":{"minChar":3,"loadPosts":10,"translation":{"pages":"Pages","categories":"Categories","portfolio":"Portfolio","post":"Posts","products":"Products"}},"home_url":"","site_url":"http:\/\/localhost:10018","ajax":"http:\/\/localhost:10018\/wp-admin\/admin-ajax.php"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="js/plugins.js" id="mfn-plugins-js"></script>
    <script type="text/javascript" src="js/menu.js" id="mfn-menu-js"></script>
    <script type="text/javascript" src="js/animations.min.js" id="mfn-animations-js"></script>
    <script type="text/javascript" src="js/jplayer.min.js" id="mfn-jplayer-js"></script>
    <script type="text/javascript" src="js/stellar.min.js" id="mfn-stellar-js"></script>
    <script type="text/javascript" src="js/scripts.js" id="mfn-scripts-js"></script>
    <script type="text/javascript" id="mfn-woojs-js-extra">
    /* <![CDATA[ */
    var mfnwoovars = {"ajaxurl":"http:\/\/localhost:10018\/wp-admin\/admin-ajax.php","wpnonce":"29a5f169ff","rooturl":"","productthumbsover":"mfn-thumbnails-outside","productthumbs":"0px","mainimgmargin":"mfn-mim-0","myaccountpage":"http:\/\/localhost:10018\/minha-conta\/","groupedQuantityErrori18n":"Please choose the quantity of items you wish to add to your cart\u2026"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="js/woocommerce.js" id="mfn-woojs-js"></script>
    <script type="text/javascript" src="js/wpp.js" id="qlwapp-js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHGKP2TH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
           function openTab(evt, tabName) {
      // Oculta todos os conteúdos e remove a classe "active" dos botões e conteúdos
      let contents = document.getElementsByClassName("tab-content");
      for (let content of contents) {
        content.classList.remove("active");
      }

      let buttons = document.getElementsByClassName("tab-btn");
      for (let button of buttons) {
        button.classList.remove("active");
      }

      // Exibe o conteúdo da tab clicada e adiciona a classe "active" ao botão e conteúdo
      document.getElementById(tabName).classList.add("active");
      evt.currentTarget.classList.add("active");
    }
    </script>
    </body>
    </html>
    