<link rel="stylesheet" href="css/woocommerce_1.css" type="text/css">
<div id="Top_bar" class="loading">
<style>
/*	#Header_wrapper{
		height: 100vh;
	}
	#rev_slider_2_1_forcefullwidth{
		height: 100% !important;
		max-height: 100% !important;
	}
	#rev_slider_2_1{
		height: 100% !important;
		max-height: 100% !important;
	}
	#rev_slider_2_1_wrapper{
		height: 100% !important;
		max-height: 100% !important;
	}*/
</style>
	<div class="container">
		<div class="column one">

			<div class="top_bar_left clearfix">

				<div class="logo"><a id="logo" href="/" title="Iela Bag - Assinatura de Moda" data-height="100" data-padding="5"><img class="logo-main scale-with-grid " src="images/logotipo-5.png" data-retina="images/logotipo-5.png" data-height="158" alt="logotipo iela bag"  data-no-retina/><img class="logo-sticky scale-with-grid " src="images/logotipo-5.png" data-retina="images/logotipo-5.png" data-height="158" alt="logotipo iela bag"  data-no-retina/><img class="logo-mobile scale-with-grid " src="images/logotipo-5.png" data-retina="images/logotipo-5.png" data-height="158" alt="logotipo iela bag"  data-no-retina/><img class="logo-mobile-sticky scale-with-grid " src="images/logotipo-5.png" data-retina="images/logotipo-5.png" data-height="158" alt="logotipo iela bag"  data-no-retina/></a></div>
				<div class="menu_wrapper">
			<nav id="menu">
				<ul id="menu-menu-principal" class="menu menu-main">
<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-297 current_page_item">
	<a href="/">
		<span>Início</span>
	</a>
</li>
<li id="menu-item-543" class="menu-item menu-item-type-post_type menu-item-object-page">
	<a href="/quem-somos">
		<span>Quem Somos</span>
	</a>
</li>
<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home"><a href="/#como-funciona"><span>Como Funciona</span></a></li>
<li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/consultoria"><span>Consultoria</span></a></li>
<li id="menu-item-542" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/perguntas-frequentes"><span>Perguntas Frequentes</span></a></li>
<li id="menu-item-301" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#contato"><span>Contato</span></a></li>
<li id="menu-item-301" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/loja"><span>Assine já</span></a></li>

</ul>
</nav>
<a class="responsive-menu-toggle " href="#" aria-label="Mobile menu"><i class="icon-menu-fine" aria-hidden="true"></i></a>		
		</div>

				<div class="secondary_menu_wrapper">
									</div>

				<div class="banner_wrapper">
					REDES SOCIAIS: 
<ul class="social">

<li><a id="" href="https://www.facebook.com/profile.php?id=100094096140644&amp;mibextid=LQQJ4d" target="_blank"><i class="icon-facebook"></i></a></li>

<li><a id="" href="https://www.instagram.com/ielabag/" target="_blank"><i class="icon-instagram"></i></a></li>

<li><a id="" href="https://www.youtube.com/@IELABAG" target="_blank"><i class="icon-youtube"></i></a></li>

</ul>				</div>

			</div>

			<div class="top_bar_right "><div class="top_bar_right_wrapper"><a id="myaccount_button" class="top-bar-right-icon top-bar-right-icon-user toggle-login-modal is-boxed logged-out" href="/minha-conta"><svg width="26" viewBox="0 0 26 26"><defs><style>.path{fill:none;stroke:#333333;stroke-width:1.5px;}</style></defs><circle class="path" cx="13" cy="9.7" r="4.1"/><path class="path" d="M19.51,18.1v2.31h-13V18.1c0-2.37,2.92-4.3,6.51-4.3S19.51,15.73,19.51,18.1Z"/></svg> Minha conta</a><a href="/cadastro" class="action_button top-bar-right-button " >QUERO MINHA BAG</a></div></div>
			<div class="search_wrapper">
				
<form method="get" id="searchform" action="http://localhost:3000/">

	
  <svg class="icon_search" width="26" viewBox="0 0 26 26"><defs><style>.path{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px;}</style></defs><circle class="path" cx="11.35" cy="11.35" r="6"></circle><line class="path" x1="15.59" y1="15.59" x2="20.65" y2="20.65"></line></svg>
  <span class="mfn-close-icon icon_close"><span class="icon">✕</span></span>

	<input type="text" class="field" name="s" autocomplete="off" placeholder="Enter your search" />
	<input type="submit" class="display-none" value="" />

</form>
			</div>

		</div>
	</div>
</div>